<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
The hostname of the container is <b>{{ hostname }}</b> and its IP is <b>{{ ip }}</b>.
korn commit 2023-02-24 12:40
</body>
</html>